<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--Nav Starts Here-->
<div class="container"><div class="row">

    <nav class="navbar navbar-icon-top navbar-expand-lg row-cols-auto" th:fragment="navbar" style="justify-content: space-around">
        <div class="dropdown">



        </div>


        <!--		<div class="btn-toolbar" >-->
        <div>
            <a href="/" class="createButton">HOME</a>

        </div>


        <div class="col-5 wrapper">

            <a href="/">
                <h1 class="annotation" style="text-align: center; font-size: 3.5vw "> Weebs Meet</h1>
            </a>

        </div>


        <div>
            <div>

                <div >

                </div>
                <div class="text-dark btn-group" style="box-shadow: none" >
                    <a href="/collections/profile" style="border-right: 1px solid #4f4f4f" class="createButton"></a>


                    <form class="text-center" style="align-self: center; padding: 0.46vw 1.6vw; font-size: 1vw" th:action="@{/logout}" th:method="post" >
                        <button class="createButton" style="border: none; background-color: transparent; font-family: 'American Typewriter'">Logout</button>

                        <div th:if="${param.logout}">
                            You have been logged out.
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </nav>
</div>
</div>


</html>